/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Mar, 2017, 9:37:05 PM
    Author     : Tech Devil
*/


.text-field{
    -fx-border-width: 0.7px;
    -fx-border-color: #D7D7D7;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-text-fill: black;
    -fx-font-size: 15px; 
    -fx-padding: 5px 35px 5px 15px;
    -fx-background-color: white;
}
.text-field:focused{
    -fx-border-color: #EA5444;

}
.text-field:hover{

}
.text-area{
    -fx-border-width: 0.7px;
    -fx-border-radius: 5px;
    -fx-border-color: #D7D7D7;
    -fx-text-fill: black;
    -fx-font-size: 15px; 
    -fx-background-color: white;
}
.text-area:focused{
    -fx-border-color: #EA5444;
   }
.text-area *.content{
    -fx-background-color: none;
    -fx-padding:5;
}
/*******************************************************************************
 *                                                                             *
 * ButtonView                                                                   *
 *                                                                             *
 ******************************************************************************/

.button{
    -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 12px; 
    -fx-padding: 8px 25px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.button:hover{
    -fx-background-color: #EA5444;
    -fx-text-fill: white;

}
.button:focused{
   -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
   -fx-border-radius: 50px;

}
.button:pressed{
    -fx-background-color: #EA5444;
    -fx-text-fill: white;
}



.hyperlink{
    -fx-text-fill: blue;
}
AnchorPane{

}

#apDesignPane{
    -fx-background-color: rgba(8, 0, 0, .1);
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}
#apMother{
    -fx-background-image: url("../Images/slider_bg.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#btnClearSelected{
    -fx-font-size: 10px; 
    -fx-font-weight:100;
    -fx-border-color: none;
    -fx-border-radius: 0px;
    -fx-padding: 0px 0px 0px 20px;
    -fx-background-radius: 0px;
    -fx-cursor:hand;
    -fx-background-image: url("../Images/close_red.png");
    -fx-background-repeat: stretch;
    -fx-background-position: left center;
}
#btnClearSelected:hover{
    -fx-font-size: 10px; 
    -fx-font-weight:100;
    -fx-border-color: none;
    -fx-border-radius: 0px;
    -fx-padding: 0px 0px 0px 20px;
    -fx-background-radius: 0px;
    -fx-cursor:hand;
    -fx-background-image: url("../Images/close.png");
    -fx-backgorund-color:none;
    -fx-background-repeat: stretch;
    -fx-background-position: left center;
}
